
@import './config';


// Widescreens
@include mediaExtraLargeScreen {}

// Desktops & Laptops
@include mediaLargeScreen {
    body{
        padding: 2rem !important;
    }
    .card {
        overflow: hidden;
        margin: inherit auto;
    }

    .tabView__controller {
        .tabView__list--menu-item {
            padding: 0.6rem !important;
        }
    }

    .followers {
        padding: 0 !important;
        .followers__counter{
            padding: 0 !important;
        }
    }
}

// Tablets & Small Laptops
@include mediaMediumScreen {
    body{
        padding: 0px !important;
    }
    .card{
        background: transparent !important;
        box-shadow: none;
        overflow: hidden;
    }

    .tab {
        height: 340px;
    }

    .flex-justify-inline{
        flex-direction: column;
    }

    .profile__action{
        .profile__action--logout{
            .btn__primary{
                @include borderless__button();
            }
        }
        .profile__action--upload {
            display: none !important;
        }
    }
    
    .profile__info {
        .profile__info--details{
            flex-direction: column;

            .profile__info--img{
                margin: 4rem auto auto auto;
            }

            .profile__info--details-user{
                .flexbox__inline--icons {
                    margin-left: 1.3rem;
                }
                .profile__info--details-username{
                    text-align: center;
                }
            }
        }
    }

    .profile__info--details {
        .profile__info--reviews {
            margin-left: 1.3rem;

            &-rating {
                color: $color__blue;
                margin-left: .8rem;

                .ion-md-star, .ion-md-star-half{
                    font-size: 2rem;
                }
            }
            &-counter, &-text{
                display: inline-flex !important;
            }
        }
    }

    .tabView__controller{
        flex-direction: column-reverse;
        border-top: none !important;
        .tabView__controller--menu {
            display: inline-flex !important;
            background: $color__white;
            flex-direction: column;
            @include box-shadow();

            .tabView__list--menu {
                margin-left: 0 !important;
                display: inline-flex;
            }
        }
    }

    .followers{
        justify-content: left !important;
        margin: 1.7rem 0px 0px 2.9rem;

        &__counter {
            padding: 0 !important;
        }
    }

    // About user style
    .about__user {
        padding: 0.8rem !important;
        margin-top: 1rem;
        @include box-shadow();
        .about {
            .about__header{
                #edit__icon--media {
                    display: block;
                }
            }
            &__flex--icons{
                background: transparent;

                .profile__info--details-username{
                    font-weight: bold;
                    font-size: 1.3rem;
                }
            }
            .ion-md-create {
                display: none;
            }
            .about__edit--mobile {
                .input__float {
                    margin: 0 0.8rem 1rem;
                }
            }
        }

    }
}

// Smartphones
@include mediaSmallScreen {
   body {
       padding: 0 !important;
   }
}