@import './config';

@mixin inlineFlex {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  align-items: center;
}

.tab {
  width: 100%;
  height: 300px;
}

.about__user {
  padding: 2rem;
  margin-top: 3rem;

  .about {
    box-sizing: content-box;

    .about__header {
      @include displayFlex();
      justify-content: space-between;

        #edit__icon--media {
          display: none;
        }

        .about__edit--actions {
          display: none;

            .btn {
              @include btn__default();
              @include borderless__button();
            }
        }
    }

    &__heading--title {
      font-weight: 400;
    }
    &__flex--icons {
      @include inlineFlex();
      width: fit-content;
      background-color: lightgray;
      margin-bottom: 0.2rem;
      padding: 0 0 0 0.4rem;
      -webkit-width: fit-content;
      -moz-width: fit-content;
      -ms-width: fit-content;
      -o-width: fit-content;
    }
    .ion-md-create {
      background-color: $color__gray;
      padding: 0.4rem 0.6rem;
      cursor: pointer;

        &:hover {
          color: $color__white;
          background-color: $color__blue;
        }
    }

    .about__edit--desktop {
      display: block;
    }

    .about__edit--mobile {
      display: none;
      @include float__input--label();
    }
  }
}
