$primary-color: #f5f8f9;
$secondary-color: #ecf1f5;
$color__white: #fff;
$color__dark: #000;
$color__red: red;
$color__blue: blue;
$color__gray: gray;
$transition: 0.2s ease-in;

@mixin btn__default {
  background-color: transparent;
  outline: none;
  font-weight: bold;
  color: $color__blue;
  border: 2px solid $color__blue;
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

@mixin borderless__button {
  border: none !important;
  outline: none !important;
}

@mixin smallRadius {
  border-radius: 5px;
}

@mixin displayFlex {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

@mixin input__default {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid $color__gray;
  padding: 0.7rem 0;
  font-size: 1rem;
}

@mixin box-shadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@mixin float__input--label {
  .input__border_bottom {
    @include input__default();
  }
  .input__float {
    position: relative;
    margin-bottom: 1rem;

    .input__float--label {
      position: absolute;
      left: 0;
      top: 19%;
      font-size: 1.2rem;
      color: $color__gray;
      -ms-top: 19%;
      -ms-display: none;
    }

    .input__border_bottom:focus {
      border-bottom: 2px solid $color__blue;
      
      + .input__float--label {
        top: -25%;
        font-size: 0.9rem;
        font-weight: 400;
        transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
        -moz-transition: $transition;
      }
    }
  }
}

@mixin mediaSmallScreen {
  @media screen and (max-width: 500px){
    @content;
  }
}
@mixin mediaMediumScreen {
  @media screen and (max-width: 768px){
    @content;
  }
}
@mixin mediaLargeScreen {
  @media screen and (min-width: 769px) and (max-width: 1170px){
    @content;
  }
}
@mixin mediaExtraLargeScreen {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
