@import "./config";
@import "about";
@import "popup";
@import "_mobile";

::-webkit-scrollbar{
  width: 0;
  height: 0;
}
::-ms-scrollbar{
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb{
  background: transparent;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 16px/1.5 Helvetica;
  height:100%; 
  margin-bottom:0px; 
  -ms-overflow-y:scroll; 
  -ms-overflow-x:hidden; 
}

body {
  background-color: $primary-color;
  color: $color__dark;
  padding: 3rem 10rem;
  font-weight: 400;
}

h1,
h2,
h3 {
  padding: 0.5em;
}

p {
  margin: 0.4em;
}

.card {
  position: relative;
  @include box-shadow;
  background-color: $color__white;
  transition: 0.3s;
}

.flex-justify-inline {
  display: flex;
}

.align-items-baseline {
  align-items: baseline;
}

.profile__action {
  .profile__action--logout {
    position: absolute;
    right: 1.4%;
    top: 5%;

    .btn__primary {
      @include btn__default();
    }
  }

  .profile__action--upload {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    height: 100px;
  }

  .input__file-upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}

.input__file-upload + label {
  cursor: pointer;
  color: $color__gray;
  display: inline-block;
  padding: 0.5rem 0.9rem;
  border: 3px solid $secondary-color;
  @include smallRadius();

  .ion-md-camera {
    margin-right: 0.5rem;
    color: $color__gray;
  }
}

.input__file-upload:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.profile__info {
  display: flex;
  flex-direction: column;

  .profile__info--img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
  }

  .profile__info--details {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .profile__info--details-user {
      margin-left: 1rem;
      flex: 1;
      flex-grow: 1;
      flex-basis: auto;

      .profile__info--details-username {
        text-transform: capitalize;
      }

      .flexbox__inline--icons {
        display: flex;
        align-items: center;

        .icon {
          padding-right: 0.6rem;
        }
      }
    }

    .profile__info--reviews {
      font-size: 0.9rem;
      font-weight: 400;
      color: $color__gray;

      &-rating {
        font-size: 1.4rem;
      }
      &-counter {
        padding: 0 0.6rem;
      }
    }
  }
}

.tabView__controller {
  display: flex;
  margin-top: -3em;
  border-top: 2px solid $secondary-color;

  .tabView__controller--menu {
    flex: 1;
    display: flex;
    justify-content: flex-start;

    .tabView__list--menu {
      margin-left: 13rem;
      -webkit-overflow-scrolling: touch;
      overflow: auto;
      white-space: nowrap;
      -ms-overflow-style: none;
      .tabView__list--menu-item {
        display: inline-block;
        background-color: transparent;
        padding: 0.8rem;
        outline: none;
        border: none;
        cursor: pointer;
      }
      .current {
        border-bottom: 2px solid $color__blue;
      }
    }
  }

  .followers {
    @include displayFlex();
    margin-right: 0.5rem;
    align-items: center;

    .icon {
      font-size: 1.5rem;
    }
    &__text {
      color: $color__gray;
    }
    &__counter {
      font-weight: bold;
      color: $color__dark;
      padding: 0 0.5rem;
    }
  }
}
