@import "./config";

.popup {
  border-radius: 5px;
  position: fixed;
  top: 37rem;
  left: 23rem;
  padding: 1rem;
  font-size: 14px;
  line-height: 22px;
  color: #313333;
  background-color: #fff;
  display: none;
  @include box-shadow;

  &:after {
    content: " ";
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid $color__white;
    position: absolute;
    left: -2.5%;
    top: 10%;
    margin-left: -20px;
  }

  &__container--header {
    @include float__input--label();
  }

  &__container--footer {
    text-align: center;
    margin-top: 1.2rem;

    .btn__secondary,
    .btn__primary {
      @include btn__default();
      width: 10rem;
    }

    .btn__primary {
      background-color: $color__blue;
      color: $color__white;
    }
  }
}
